/*reset*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 22px;
}

h1 {
  font-size: 2em;
  margin: 10px;
}

h1,
h2,
h4 {
  font-family: "Noto Sans Georgian", sans-serif;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  background-color: #457b9d;
}

nav a {
  text-align: center;
  padding: 25px;
}

.hero-msg {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

/*nav {*/
/*  display: flex;*/
/*  justify-content: space-evenly;*/
/*}*/

/*adding background colors*/
nav a:link,
nav a:visited {
  color: #f2f2f2;
  padding: 30px;
  text-decoration: none;
}

nav a:hover {
  color: white;
  background-color: #457b9d;
}

#background {
  background: #f2f2f2;
  height: 725px;
}

.book,
.join {
  color: #444;
  background-color: #dadada;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 50px;
  padding: 15px 30px;
  text-decoration: none;
}

.msg {
  background-color: #f2f2f2;
  line-height: 1.5em;
  padding: 35px;
}

.msg h2 {
  color: #444;
}

.msg p {
  color: #9f9c9c;
  padding: 15px;
}

h4 {
  color: #444;
}

/*adding width to logo and icon images*/
.logo-link {
  padding-top: 5px;
  width: 80px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.hero-img {
  width: 100%;
}

.card-img {
  border: 10px solid #dadada;
}

.rivers-card,
.rapids-card,
.camping-card {
  margin: 200px 0;
}

footer {
  background-color: #396e94;
  padding: 25px 50px;
  margin-top: 200px;
}

footer p {
  font-size: 1.2em;
}

footer a:link,
footer a:visited {
  color: #d1defa;
  text-decoration: none;
}

footer a:hover,
footer a:active {
  color: #f2f2f2;
  text-decoration: underline;
}
