@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    width: 80%;

}
nav a {
    text-align: center;
    color:#27525A;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
}
#hero-img {
    text-align: center;
}
#hero-msg h2 {
    text-align: center;
}
.butto-box{
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: bisque;
    
}
body {
    background-color: #FFFAE2;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
h2{
    margin: 0;
}
header {
    background-color:aquamarine;
}
nav a:hover{
    background-color:#042A2B;
    color: white;
    font-size: 30px;
    padding: 10px;
}
.book{
    background-color:#FFFAE2;
    color:goldenrod;
    text-decoration: none;
}
.join {
    color: navy;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color:goldenrod;
    color: #FEFAE0;
    font-size: 30px;
}
.msg {
    background-color:bisque;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: bisque;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
.msg h2 {
    color: black;
}
.msg p {
    color: navy;
    padding-bottom: 15px;
    font-size: 2em;
}
footer a {
    color: black;
     text-decoration: none;
}
footer a:hover {
    color: goldenrod;
    font-size: 30px;
}
.logo {
    width: 80px ;
}
.icon {
    width: 80px ;
    padding-top: 10px;
}
footer p a:hover {
    text-decoration: underline;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
#logo_link {
     padding-top: 5px;}  
footer .social img  {
     padding-top: 15px;}
.book, .join{
    font-size: 18px;padding: 15px;
    margin-top: 50px;
    border-radius: 5px;
}
.river-cards, .camping-card, .rapids-card{margin: 200px 0
    ;}
    .card-img {
        border: 10px solid #d9c2a3;
    }
main section img {
    box-sizing: border-box;
}