:root {
  /*Colors*/
  --primary-color: #0d67b5;
  --secondary-color: #3c5c72;
  --accent1-color: #f7f3e8;
  --accent2-color: white;

  /*    fonts*/
  --heading-font: "Noto Sans Display", serif;
  --paragraph-font: "Open Sans", sans-serif;
}

/*Resets*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
}

/*Header styles*/
.hdr {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin-top: 1rem;
  max-width: 1200px;
  margin-inline: auto;
}

.logo-link {
  border-radius: 0.6rem;
  overflow: hidden;
  grid-column: 1 / 2;
}

.logo-img {
  border-radius: 0.6rem;
}

.nav-links {
  grid-column: 9 / 13;
}

.nav-links a:link,
.nav-links a:visited {
  border-radius: 0.6rem;
  background-color: var(--accent1-color);
  color: var(--secondary-color);
  padding-inline: 2rem;
  padding-block: 0.6rem;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:active {
  border: 3px solid var(--secondary-color);
  margin: -3px;
}

.logo-img {
  max-width: 4rem;
}

.nav-links {
  display: flex;
  /*gap: 2rem;*/
  justify-content: space-around;
}

/*Intro section*/
.intro-container {
  max-width: 1200px;
  margin-top: 2rem;
  margin-inline: auto;
  display: flex;
}

.main-h1 {
  font-family: var(--heading-font);
}

.intro {
  align-self: baseline;
  margin-right: 10rem;
  flex: 60%;
}

.intro p {
  margin-top: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.resume-btn {
  border-radius: 0.6rem;
  background-color: var(--accent1-color);
  color: var(--secondary-color);

  border: none;
  padding-inline: 1.5rem;
  padding-block: 0.7rem;
}

.resume-btn:hover {
  border: 3px solid var(--secondary-color);
  cursor: pointer;
  margin: -3px;
}

.my-pass-container {
  background-color: #6f7364;
  align-self: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-right: 10rem;
}

.my-pass {
}

.hero {
  margin-top: 4rem;
  max-height: 25rem;
  overflow: hidden;
}

.hero img {
  width: 100%;
}

/*Post section*/
.post-container {
  margin-top: 4rem;
  background-color: var(--accent1-color);
  padding: 3rem 2rem 3.5rem 2rem;
}

.prt-showcase {
  margin-bottom: 2.5rem;
}

.post-container h2,
.post h3 {
  font-family: var(--heading-font);
}

.post-container h2 {
  max-width: 1200px;
  margin-inline: auto;
  font-size: 1rem;
  opacity: 0.5;
  line-height: 1.7;
}

.post-flex {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

.post {
  border-radius: 0.6rem;
  background-color: var(--accent2-color);
  flex: 1;
  padding: 2rem;
}

.post h3 {
  margin-bottom: 1.5rem;
}

.post pre {
  margin-bottom: 1.5rem;
}

.post p {
  line-height: 1.5;
}

/*Project section*/
.project-container {
  margin-top: 4rem;
  max-width: 1200px;
  margin-inline: auto;
}

.projects-details {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.project-link img {
  border-radius: 0.6rem;
  overflow: hidden;
}

.project-link-container img {
  transition: opacity 2s;
}

.project-link-container img:hover {
  opacity: 0.7;
}

.project-info {
  flex: 80%;
  vertical-align: center;
}

.year {
  display: inline-block;
  border-radius: 3rem;
  background-color: var(--primary-color);
  color: var(--accent1-color);
  padding-inline: 1.5rem;
  padding-block: 0.3rem;
  margin-block: 0.2rem;
}

.lrn {
  /*font-style: italic;*/
  margin-left: 2rem;
  display: inline-block;
  opacity: 0.5;
}

.project-description {
  line-height: 1.5;
}

/*Contact section*/
.contact-container {
  margin-top: 3rem;
  max-width: 1200px;
  margin-inline: auto;
}

.contact-me,
.contact-p {
  margin-block: 2rem;
}

.main-section {
  border-radius: 0.6rem;
  line-height: 1.5;
  /*letter-spacing: 0.6rem;*/
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 2rem;
  gap: 2rem;
  margin-bottom: 4rem;
}

.main-section:hover {
  box-shadow: none;
  transition-duration: 2000ms;
}

.main-section:not(:hover) {
  transition-duration: 2000ms;
}

.contact-img-container {
  border-radius: 0.6rem;
  overflow: hidden;
}

.contact-img-container img {
  border-radius: 0.6rem;
}

.contact-img-container img:not(:hover) {
  transition-duration: 1000ms;
}

.contact-img-container img:hover {
  transform: scale(0.8);
  transition-duration: 1000ms;
}

.left-side {
  flex: 55%;
  margin-left: 2rem;
}

.left-side a {
  text-decoration: none;
  color: var(--secondary-color);
}

.left-side i {
  padding-right: 1rem;
}

.icon-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon {
  display: flex;
  gap: 0.5rem;
}

.contact-img-container {
  flex: 30%;
}

/*Form section*/
.email-me {
  margin-bottom: 2rem;
}

.form-section {
  border: 0.2rem solid #f2f2f2;
  border-radius: 0.6rem;
  line-height: 1.5;
  /*letter-spacing: 0.6rem;*/
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 2rem;
}

.form-section:hover {
  box-shadow: none;
  transition-duration: 2000ms;
}

.form-section:not(:hover) {
  transition-duration: 2000ms;
}

.form-section form {
  /*margin-inline: auto;*/
  display: flex;
  gap: 24.5rem;
}

.form-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-section form li + li {
  margin-top: 1em;
}

.form-section label {
  display: inline-block;
  max-width: 90px;
  text-align: right;
}

.form-section input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

textarea label {
  margin-bottom: 0.5rem;
}

.form-section input {
  padding-block: 0.7rem;
  user-focus: none;
}

.input-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.msg-cnt label {
  margin-bottom: 1rem;
}

input,
textarea {
  border-radius: 0.6rem;
}

input:focus,
textarea:focus {
  outline: none;
}

/*Message button*/
.button {
  padding: 0.3rem;
  background-color: var(--secondary-color);
}

/*.btn:hover {*/
/*  transition-duration: 1000ms;*/
/*  padding: 0.3rem;*/
/*}*/

/*.button:hover + :hover {*/
/*  transition-duration: 1000ms;*/
/*  padding: 0.7rem;*/
/*}*/

.btn {
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  width: 100%;
}

/*About Me Section*/
.section-1 {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  line-height: 1.5;
}

.section-1 h1 {
  margin-bottom: 2rem;
}

.dvd {
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
}

.quote {
  padding: 3rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  /*font-size: 0.5rem;*/
  flex: 40%;
}

.intro-mgs {
  padding: 3rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  /*font-size: 1rem;*/
  flex: 60%;
}

.section-2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.section-2 p {
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  z-index: 3;
  padding: 3rem;
  color: var(--primary-color);
  font-size: 3rem;
  grid-column: 4 / 10;
  grid-row: 6 / 9;
  /*transform: skew(10deg);*/
  font-weight: bolder;
}

.section-2 div {
  grid-column: 1 / 13;
  grid-row: 1 / 13;
  position: relative;
}

.section-2 div img {
  width: 100%;
}

.section-3 {
  max-width: 1200px;
  margin-inline: auto;
  margin-block: 3rem;
}

.section-3 p {
  line-height: 1.8;
}

.section-3 p:first-of-type {
  margin-bottom: 1.3rem;
}

/*Footer section*/
footer {
  margin-top: -1rem;
  text-align: center;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
  margin-right: 0.3rem;
}

footer a:last-of-type {
  text-align: center;
  display: block;
  margin-block: 0.5rem;
}

footer p {
  margin-bottom: 2rem;
}
